<div id="meatcut_index">
  <a href=<%= root_path %>><h1> Meat Match</h1></a>
  <h2>Meatcuts</h2>
  <div class="container">

  <ul class="tabs">
    <li class="tab-link active" data-tab="beef">Beef</li>
    <li class="tab-link" data-tab="pork">Pork</li>
    <li class="tab-link" data-tab="chicken">Chicken</li>
  </ul>

  <div id="beef" class="tab-content active">
    <table class="pure-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Primal</th>
          <th>Description</th>
          <th>Alternative names</th>
        </tr>
      </thead>

      <tbody>
        <% @beefcuts.each do |meatcut| %>
          <tr>
            <td><%= link_to meatcut.name.capitalize, meatcut %></td>
            <td><%= meatcut.primal %></td>
            <td><%= meatcut.description %></td>
            <td><%= meatcut.alt_names %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="pork" class="tab-content">
    <table class="pure-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Primal</th>
          <th>Description</th>
          <th>Alternative names</th>
        </tr>
      </thead>

      <tbody>
        <% @porkcuts.each do |meatcut| %>
          <tr>
            <td><%= link_to meatcut.name.capitalize, meatcut %></td>
            <td><%= meatcut.primal %></td>
            <td><%= meatcut.description %></td>
            <td><%= meatcut.alt_names %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="chicken" class="tab-content">
    <table class="pure-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Primal</th>
          <th>Description</th>
          <th>Alternative names</th>
        </tr>
      </thead>

      <tbody>
        <% @chickencuts.each do |meatcut| %>
          <tr>
            <td><%= link_to meatcut.name.capitalize, meatcut %></td>
            <td><%= meatcut.primal %></td>
            <td><%= meatcut.description %></td>
            <td><%= meatcut.alt_names %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
</div>