<div id="meatcut_index">
  <dl class="tabs" data-tab>
    <dd class="active"><a href="#panel1">Beef</a></dd>
    <dd><a href="#panel2">Pork</a></dd>
    <dd><a href="#panel3">Chicken</a></dd>
  </dl>

  <div class="tabs-content">
  <div class="content active" id="panel1">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Primal</th>
          <th>Description</th>
          <th>Alternative names</th>
        </tr>
      </thead>

      <tbody>
        <% @beefcuts.each do |meatcut| %>
          <tr>
            <td><%= link_to meatcut.name.capitalize, meatcut %></td>
            <td><%= meatcut.primal %></td>
            <td><%= meatcut.description %></td>
            <td><%= meatcut.alt_names %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="content" id="panel2">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Primal</th>
          <th>Description</th>
          <th>Alternative names</th>
        </tr>
      </thead>

      <tbody>
        <% @porkcuts.each do |meatcut| %>
          <tr>
            <td><%= link_to meatcut.name.capitalize, meatcut %></td>
            <td><%= meatcut.primal %></td>
            <td><%= meatcut.description %></td>
            <td><%= meatcut.alt_names %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="content" id="panel3">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Primal</th>
          <th>Description</th>
          <th>Alternative names</th>
        </tr>
      </thead>

      <tbody>
        <% @chickencuts.each do |meatcut| %>
          <tr>
            <td><%= link_to meatcut.name.capitalize, meatcut %></td>
            <td><%= meatcut.primal %></td>
            <td><%= meatcut.description %></td>
            <td><%= meatcut.alt_names %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>