<div id="technique_index">
  <dl class="tabs" data-tab>
    <dd class="active"><a href="#panel1">Dry</a></dd>
    <dd><a href="#panel2">Wet</a></dd>
  </dl>

  <div class="tabs-content">
  <div class="content active" id="panel1">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Equipment</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @dry.each do |technique| %>
          <tr>
            <td><%= link_to technique.name.capitalize, technique %></td>
            <td><%= technique.description %></td>
            <td><%= technique.equipment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="content" id="panel2">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Equipment</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @wet.each do |technique| %>
          <tr>
            <td><%= link_to technique.name.capitalize, technique %></td>
            <td><%= technique.description %></td>
            <td><%= technique.equipment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
