<div id="technique_index">
  <a href=<%= root_path %>><h1> Meat Match</h1></a>

  <h2>Techniques</h2>
  <div class="container">

  <ul class="tabs">
    <li class="tab-link active" data-tab="dry">Dry</li>
    <li class="tab-link" data-tab="wet">Wet</li>
  </ul>

  <div id="dry" class="tab-content active">
    <table class="pure-table">
      <thead>
        <tr>
          <th><h3>Name</h3></th>
          <th><h3>Description</h3></th>
          <th><h3>Equipment Needed:</h3></th>
        </tr>
      </thead>

      <tbody>
        <% @dry.each do |technique| %>
          <tr>
            <td><%= link_to technique.name.capitalize, technique %></td>
            <td><%= technique.description %></td>
            <td><%= technique.equipment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="wet" class="tab-content">
    <table class="pure-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Equipment</th>
        </tr>
      </thead>

      <tbody>
        <% @wet.each do |technique| %>
          <tr>
            <td><%= link_to technique.name.capitalize, technique %></td>
            <td><%= technique.description %></td>
            <td><%= technique.equipment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
  <br><br>
</div>


