<div id="match">

	<h1>Can you <strong><%= @technique.name %></strong> a <strong><%= @meatcut.name %></strong>?</h1>

	<% if @match.empty? %>
		<h2>I WOULDN'T DO THAT IF I WERE YOU.</h2>
	<% else %>
		<h2>YES YOU CAN!</h2>
	<% end %>

	<div id="match_technique">
		<table class="pure-table pure-table-horizontal">
			<thead>
				<tr><th><h3>About <% if @technique.name.split("").last == "e" %>
						<%= @technique.name[0...-1].capitalize %>ing
					<% else %>
						<%= @technique.name.capitalize %>ing
					<% end %>
					</h3></th>
	<th> </th></tr>
				<tr><th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Description</td>
					<td><%= @technique.description %></td>
				</tr>
				<tr><td>Is it a dry or wet?
					<% if @technique.dry == true %>
						<td><%= p "Dry" %></td>
					<% else %>
						<td><%= p "Wet" %></td></tr>
					<% end %>
				<tr>
					<td>Equipment</td>
					<td><%= @technique.equipment.capitalize %></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="match_meatcut">
		<table class="pure-table pure-table-horizontal">
			<thead>
				<tr><th><h3>About <%= @meatcut.name.capitalize %></h3></th></tr>
			</thead>
			<tbody>
				<tr><td><%= @meatcut.description %></td></tr>
				<tr><td><%= @meatcut.alt_names %></td></tr>
			</tbody>
		</table>
	</div>

</div>