<div id="automatch_tech" style="text-align:center; margin:auto;">
	<h2>What can I cook by <%= @technique.name %>ing?</h2>

<div class="container">

  <ul class="tabs">
    <li class="tab-link active" data-tab="beef">Beef</li>
    <li class="tab-link" data-tab="pork">Pork</li>
    <li class="tab-link" data-tab="chicken">Chicken</li>
  </ul>
  <div id="beef" class="tab-content active">
    <table class="pure-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Primal</th>
          <th>Description</th>
          <th>Alternative names</th>
        </tr>
      </thead>

      <tbody>
        <% @beefcuts.each do |meatcut| %>
          <tr>
            <td><%= link_to meatcut.name.capitalize, meatcut %></td>
            <td><%= meatcut.primal %></td>
            <td><%= meatcut.description %></td>
            <td><%= meatcut.alt_names %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="content" id="panel2">
  <br><br>
    <table class="pure-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Primal</th>
          <th>Description</th>
          <th>Alternative names</th>
        </tr>
      </thead>

      <tbody>
        <% @porkcuts.each do |meatcut| %>
          <tr>
            <td><%= link_to meatcut.name.capitalize, meatcut %></td>
            <td><%= meatcut.primal %></td>
            <td><%= meatcut.description %></td>
            <td><%= meatcut.alt_names %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="content" id="panel3"><br>
    <table class="pure-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Primal</th>
          <th>Description</th>
          <th>Alternative names</th>
        </tr>
      </thead>

      <tbody>
        <% @chickencuts.each do |meatcut| %>
          <tr>
            <td><%= link_to meatcut.name.capitalize, meatcut %></td>
            <td><%= meatcut.primal %></td>
            <td><%= meatcut.description %></td>
            <td><%= meatcut.alt_names %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br><br>
</div>