<div id="homepage">
	<h1> Meat Match</h1>

	<dl class="tabs" data-tab>
    <dd class="active"><a href="#panel1">Beef</a></dd>
    <dd><a href="#panel2">Pork</a></dd>
    <dd><a href="#panel3">Chicken</a></dd>
  </dl>
	<!-- <div class="home_break"></div> -->
	<div class="tabs-content">
  <div class="content active" id="panel1">
		<%= form_tag('/match/answer') do %>
			<h3>
				<br>I have a <%= select("meatcut", "name", @beefcuts.all.collect {|m| [ m.name.capitalize, m.id ] }.sort, {include_blank: 'Select a cut of beef*'}) %>
			<br>
				and I want to <%= select("technique", "name", Technique.all.collect {|m| [ m.name.capitalize, m.id ] }.sort, {include_blank: 'Select a cooking technique*'}) %> <br>
				it!
			<br><br>
				<p>* or leave one blank for a random match!</p>
				<%=  button_tag "Meat Match Me!", id: "match_submit" %>
			</h3>
		<% end %>
	</div>

	<div class="content" id="panel2">
		<%= form_tag('/match/answer') do %>
			<h3>
				<br>I have a <%= select("meatcut", "name", @porkcuts.all.collect {|m| [ m.name.capitalize, m.id ] }.sort, {include_blank: 'Select a cut of pork'}) %>
			<br>
				and I want to <%= select("technique", "name", Technique.all.collect {|m| [ m.name.capitalize, m.id ] }.sort, {include_blank: 'Select a cooking technique'}) %> <br>
				it!
			<br><br>
				<%=  button_tag "Meat Match Me!", id: "match_submit" %>
			</h3>
		<% end %>
	</div>

	<div class="content" id="panel3">
		<%= form_tag('/match/answer') do %>
			<h3>
				<br>I have a <%= select("meatcut", "name", @chickencuts.all.collect {|m| [ m.name.capitalize, m.id ] }.sort, {include_blank: 'Select a cut of chicken'}) %>
			<br>
				and I want to <%= select("technique", "name", Technique.all.collect {|m| [ m.name.capitalize, m.id ] }.sort, {include_blank: 'Select a cooking technique'}) %> <br>
				it!
			<br><br>
				<%=  button_tag "Meat Match Me!", id: "match_submit" %>
			</h3>
		<% end %>
	</div>
	</div>

	<br><br>
	<h3>Not sure what all these these techniques are?</h3>
	<%= button_to "Show Me", techniques_path, :class => "button", :method => :get %>
	<br>
	<h3>Want to see what all these meatcuts are?</h3>
	<%= button_to "Show Me", meatcuts_path, :class => "button", :method => :get %>
	<br>
	<br>

</div>