<div id="homepage">
	<h1>Meat Match</h1>

	<ul class="tabs">
    <li class="active"><a href="#tab1">Beef</a></li>
    <li><a href="#tab2">Pork</a></li>
    <li><a href="#tab3">Chicken</a></li>
  </ul>

  <div class="tab" id="tab1">
		<%= form_tag('/match/answer') do %>
			<h3>
				I have a <%= select("meatcut", "name", @beefcuts.all.collect {|m| [ m.name.capitalize, m.id ] }, {include_blank: 'Select a cut of beef'}) %>
			<br>
				and I want to <%= select("technique", "name", Technique.all.collect {|m| [ m.name.capitalize, m.id ] }, {include_blank: 'Select a cooking technique'}) %> <br>
				it!
			<br><br>
				<%=  button_tag "Meat Match Me!", id: "match_submit" %>
			</h3>
		<% end %>
	</div>

	<div class="tab" id="tab2">
		<%= form_tag('/match/answer') do %>
			<h3>
				I have a <%= select("meatcut", "name", @porkcuts.all.collect {|m| [ m.name.capitalize, m.id ] }, {include_blank: 'Select a cut of pork'}) %>
			<br>
				and I want to <%= select("technique", "name", Technique.all.collect {|m| [ m.name.capitalize, m.id ] }, {include_blank: 'Select a cooking technique'}) %> <br>
				it!
			<br><br>
				<%=  button_tag "Meat Match Me!", id: "match_submit" %>
			</h3>
		<% end %>
	</div>

	<div class="tab" id="tab3">
		<%= form_tag('/match/answer') do %>
			<h3>
				I have a <%= select("meatcut", "name", @chickencuts.all.collect {|m| [ m.name.capitalize, m.id ] }, {include_blank: 'Select a cut of chicken'}) %>
			<br>
				and I want to <%= select("technique", "name", Technique.all.collect {|m| [ m.name.capitalize, m.id ] }, {include_blank: 'Select a cooking technique'}) %> <br>
				it!
			<br><br>
				<%=  button_tag "Meat Match Me!", id: "match_submit" %>
			</h3>
		<% end %>
	</div>




	<br><br>
	<h3>Not sure what all these these techniques are?</h3>
	<%= button_to "Show Me", techniques_path, :class => "button", :method => :get %>
	<br>
	<h3>Want to see what all these meatcuts are?</h3>
	<%= button_to "Show Me", meatcuts_path, :class => "button", :method => :get %>

</div>