<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Preview Image -->
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <meta property="og:image" content="../meat-match-prev.png" />
    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "Meat Match: Can I Cook This Like That?" %></title>

    <%= stylesheet_link_tag "application.css" %>
    <%= javascript_include_tag "application.js" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="page">
    <header>
      <ul class="primary-nav">
        <li><a href="<%= root_path %>">Home</a></li>
        <li><a href="<%= match_matchme_path %>">Auto-Meat-Match</a></li>
        <li><a href="<%= meatcuts_path %>">Meatcuts</a></li>
        <li><a href="<%= techniques_path %>">Techniques</a></li>
      </ul>
    </header>
    <%= yield %>
    <%#= javascript_include_tag "application" %>
    <footer>&copy; 2015 
      <a href="http://www.arielkdiamond.com">Ariel K. Diamond</a>  |  <a href="mailto:ariel.diamond@gmail.com">Contact Me</a>
    </footer>
  </div>
  </body>
</html>