<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- PURE -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "Meat Match" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="page">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <a href="<%= root_path %>" class="pure-menu-heading">Meat-Match.Me</a>
      <ul>
        <li><a href="<%= match_matchme_path %>">Auto-Meat-Match.Me</a></li>
        <li><a href="<%= meatcuts_path %>">Meatcuts</a></li>
        <li><a href="<%= techniques_path %>">Techniques</a></li>
      </ul>
    </div>
  <a class="exit-off-canvas"></a>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <footer>&copy; 2014 <a href="http://www.arielkdiamond.com">Ariel K. Diamond</a>  |  <a href="mailto:meat.match.me@gmail.com">Contact Me</a></footer>
  </div>
  </body>
</html>